@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2025.02 */

/* ---------- sub_visual 시작 ---------- */
.sub_visual{display:none;}
/* ---------- sub_visual 종료 ---------- */


/* ---------- side 시작 ---------- */
.side{display:block;position:relative;float:left;width:296px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.side:before,
.side:after,
.side *,
.side *:before,
.side *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.side .side_menu{display:block;position:relative;width:100%;}
.side .side_menu .menu{display:block;position:relative;width:100%;padding-bottom:76px;}
.side .side_menu .menu .depth1{display:block;position:static;width:100%;visibility:visible;opacity:1;}
.side .side_menu .menu .depth1 .depth1_list{display:block;position:static;width:100%;padding:0 14px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item{display:block;position:static;width:100%;border-bottom:1px solid #cdd1d5;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;position:relative;width:100%;height:64px;padding:16px 8px;background-color:transparent;visibility:visible;opacity:1;transition-property:background-color, visibility, opacity;transition-duration:400ms;transition-timing-function:ease-in-out;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.visible_none .depth1_text{visibility:hidden;opacity:0;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:hover,
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:focus{text-decoration:none;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:hover,
.side .side_menu .menu .depth1 .depth1_list .depth1_item.active .depth1_text{background-color:#eef2f7;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-2px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;bottom:-1px;right:0;width:0px;height:3px;background-color:#063a74;content:'';transition:width 250ms ease-in-out;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:hover:before,
.side .side_menu .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{right:auto;left:0;width:100%;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has .depth1_text:after{display:inline-flex;position:relative;min-width:20px;min-height:20px;margin-left:auto;background-image:url(../images/guide/ico_angle.svg);background-repeat:no-repeat;background-position:center center;background-size:contain;content:'';transform:rotate(0deg);transition:transform 400ms ease-in-out;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has .depth1_text:hover:after{background-image:url(../images/guide/ico_angle_blue.svg);}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has.active .depth1_text:after{background-image:url(../images/guide/ico_angle_blue.svg);transform:rotate(180deg);}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]:after{display:inline-flex;position:relative;min-width:20px;min-height:20px;margin-left:auto;background-image:url(../images/guide/ico_go_20.svg);background-repeat:no-repeat;background-position:center center;background-size:90%;content:'';}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]:hover:after{background-image:url(../images/guide/ico_go_20_on.svg);}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:inline-flex;position:relative;max-width:100%;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has .depth1_text span,
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"] span{max-width:calc(100% - 20px);}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span em{display:inline-flex;position:relative;width:100%;font-size:17px;color:#1e2124;line-height:24px;letter-spacing:-0.03em;font-weight:600;font-family:'PretendardGOV';word-break:keep-all;}

.side .side_menu .menu .depth2{display:none;position:static;width:100%;visibility:visible;opacity:1;}
.side .side_menu .menu .depth2 .depth2_list{display:block;position:static;width:100%;padding:8px 0;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item{display:block;position:static;width:100%;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item + .depth2_item{margin-top:4px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:100%;padding:8px 16px;background-color:transparent;border-radius:6px;visibility:visible;opacity:1;transition-property:background-color, visibility, opacity;transition-duration:400ms;transition-timing-function:ease-in-out;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.visible_none .depth2_text{visibility:hidden;opacity:0;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:hover,
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:focus{text-decoration:none;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:hover,
.side .side_menu .menu .depth2 .depth2_list .depth2_item.active .depth2_text{background-color:#eef2f7;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-2px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:inline-flex;position:relative;margin:0 4px 0 0;font-size:16px;color:#1e2124;line-height:20px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;content:'•';}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.has .depth2_text:after{display:inline-flex;position:relative;min-width:20px;min-height:20px;margin:0 0 0 4px;background-image:url(../images/guide/ico_angle.svg);background-repeat:no-repeat;background-position:center center;background-size:80%;vertical-align:top;content:'';transform:rotate(-90deg);}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:after{display:inline-flex;position:relative;min-width:20px;min-height:20px;margin:0 0 0 4px;background-image:url(../images/guide/ico_go_20.svg);background-repeat:no-repeat;background-position:center center;background-size:80%;vertical-align:top;content:'';}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:inline-block;position:relative;max-width:100%;vertical-align:top;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.has .depth2_text span,
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"] span{max-width:calc(100% - 24px);}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text span em{display:inline-block;position:relative;font-size:16px;color:#1e2124;line-height:20px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;vertical-align:top;}

.side .side_menu .menu .depth3{display:block;position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;padding:14px;background-color:#fff;visibility:hidden;opacity:0;transform:translateX(-100%);transition-property:visibility, opacity, transform;transition-duration:400ms;transition-timing-function:ease-in-out;}
.side .side_menu .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible;opacity:1;transform:translateX(0%);}
.side .side_menu .menu .depth3 .depth2_link{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;position:relative;width:100%;height:64px;background-color:transparent;border-radius:6px;transition:background-color 400ms ease-in-out;}
.side .side_menu .menu .depth3 .depth2_link:hover,
.side .side_menu .menu .depth3 .depth2_link:focus{text-decoration:none;}
.side .side_menu .menu .depth3 .depth2_link:hover{background-color:#eef2f7;}
.side .side_menu .menu .depth3 .depth2_link:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-2px;}
.side .side_menu .menu .depth3 .depth2_link:before{display:inline-flex;position:relative;min-width:24px;min-height:24px;margin:0 4px 0 0;background-image:url(../images/guide/ico_angle.svg);background-repeat:no-repeat;background-position:center center;background-size:contain;vertical-align:top;content:'';transform:rotate(-270deg);}
.side .side_menu .menu .depth3 .depth2_link span{display:inline-block;position:relative;max-width:calc(100% - 28px);vertical-align:top;}
.side .side_menu .menu .depth3 .depth2_link span em{display:inline-block;position:relative;font-size:24px;line-height:30px;letter-spacing:-0.03em;font-weight:600;font-family:'PretendardGOV';word-break:keep-all;vertical-align:top;}
.side .side_menu .menu .depth3 .depth3_list{display:block;position:static;width:100%;margin:9px 0 0;padding:8px 0;border-top:1px solid #b1b8be;border-bottom:1px solid #b1b8be;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item{display:block;position:static;width:100%;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item + .depth3_item{margin-top:4px;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text{display:inline-flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:100%;padding:8px 16px;background-color:transparent;border-radius:6px;transition:background-color 400ms ease-in-out;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:hover,
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:focus{text-decoration:none;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:hover,
.side .side_menu .menu .depth3 .depth3_list .depth3_item.active .depth3_text{background-color:#eef2f7;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-2px;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:inline-flex;position:relative;margin:0 4px 0 0;font-size:16px;color:#1e2124;line-height:20px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;content:'•';}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"]:after{display:inline-flex;position:relative;min-width:20px;min-height:20px;margin:0 0 0 4px;background-image:url(../images/guide/ico_go_20.svg);background-repeat:no-repeat;background-position:center center;background-size:80%;vertical-align:top;content:'';}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text span{display:inline-block;position:relative;max-width:100%;vertical-align:top;}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"] span{max-width:calc(100% - 24px);}
.side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text span em{display:inline-block;position:relative;font-size:16px;color:#1e2124;line-height:20px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;vertical-align:top;}
@media all and (min-width:1001px){
    body[data-sub-type="wide"] .side{display:none;}
}
@media all and (min-width:1001px) and (max-width:1280px){
    body[data-sub-type="basic"] .side{width:230px;}
    .side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:16px;}
    
    .side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:before{font-size:15px;}
    .side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:15px;}
    
    .side .side_menu .menu .depth3 .depth2_link span em{font-size:22px;}
    .side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text:before{font-size:15px;}
    .side .side_menu .menu .depth3 .depth3_list .depth3_item .depth3_text span em{font-size:15px;}
}
@media all and (max-width:1000px){
    .side{display:none;}
}
/* ---------- side 종료 ---------- */

/* ---------- colgroup 시작 ---------- */
.colgroup{display:block;position:relative;float:right;width:calc(100% - 296px);padding:0 0 80px 80px;box-sizing:border-box;}
.colgroup:before{display:block;position:absolute;top:0;left:0;width:1px;height:100%;background-color:#c6c6c6;content:'';box-sizing:border-box;}
.colgroup article{display:block;position:relative;width:100%;box-sizing:border-box;}
@media all and (min-width:1001px){
    body[data-sub-type="wide"] .colgroup{float:none;width:100%;padding:0 0 76px 0;}
    body[data-sub-type="wide"] .colgroup:before{display:none;}
}
@media all and (min-width:1001px) and (max-width:1280px){
    body[data-sub-type="basic"] .colgroup{width:calc(100% - 230px);padding:0 0 76px 40px;}
}
@media all and (max-width:1000px){
    .colgroup{float:none;width:100%;padding:0 0 76px 0;}
    .colgroup:before{display:none;}
}

.sub_head{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head:before,
.sub_head:before,
.sub_head *,
.sub_head *:before,
.sub_head *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .breadcrumb{display:block;position:relative;width:100%;padding:35px 0 75px;}
.sub_head .breadcrumb .bc_list{display:block;position:relative;width:100%;}
.sub_head .breadcrumb .bc_list .bc_item{display:inline-block;position:relative;vertical-align:top;}
.sub_head .breadcrumb .bc_list .bc_item:first-child{padding-left:0;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:6px;background-color:transparent;content:'';transition:background-color 400ms ease-in-out;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link:hover,
.sub_head .breadcrumb .bc_list .bc_item .bc_link:focus{text-decoration:none;outline:none;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link.home:before{display:inline-flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:16px;height:16px;margin-top:7px;margin-right:4px;background-color:#1e2124;-webkit-mask-image:url(../images/guide/ico_bread_home.svg);-webkit-mask-repeat:no-repeat;-webkit-mask-position:center center;-webkit-mask-size:auto;mask-image:url(../images/guide/ico_bread_home.svg);mask-repeat:no-repeat;mask-position:center center;mask-size:auto;content:'';}
.sub_head .breadcrumb .bc_list .bc_item .bc_link:after{display:inline-flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:16px;height:16px;margin-top:7px;background-color:#1e2124;-webkit-mask-image:url(../images/guide/ico_angle.svg);-webkit-mask-repeat:no-repeat;-webkit-mask-position:center center;-webkit-mask-size:90%;mask-image:url(../images/guide/ico_angle.svg);mask-repeat:no-repeat;mask-position:center center;mask-size:90%;content:'';transform:rotate(-90deg);}
.sub_head .breadcrumb .bc_list .bc_item:last-child .bc_link:after{display:none;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link em{display:inline-flex;position:relative;padding:4px;font-size:15px;color:#1e2124;line-height:22px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;text-decoration:underline;text-underline-offset:3px;vertical-align:top;border-radius:6px;background-color:transparent;transition:background-color 400ms ease-in-out;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link:hover em{background-color:#eef2f7;}
.sub_head .breadcrumb .bc_list .bc_item .bc_link:focus em{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-4px;}

.sub_head .head_box{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:100%;}
.sub_head .head_box .current_title{display:inline-flex;position:relative;width:calc(100% - 142px);font-size:40px;color:#1e2124;line-height:40px;letter-spacing:-0.03em;font-weight:600;font-family:'PretendardGOV';word-break:keep-all;vertical-align:top;}
.sub_head .head_box .etc_box{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:142px;}
.sub_head .head_box .etc_box .etc_item{display:inline-flex;position:relative;width:calc((100% - 22px) / 3);margin-left:11px;vertical-align:top;}
.sub_head .head_box .etc_box .etc_item:first-child{margin-left:0;}
.sub_head .head_box .etc_box .etc_item .etc_link{display:block;position:relative;width:100%;height:40px;background-color:#1d1d1d;border-radius:100%;}
.sub_head .head_box .etc_box .etc_item .etc_link:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:4px;}
.sub_head .head_box .etc_box .etc_item .etc_link:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:16px;-webkit-mask-repeat:no-repeat;-webkit-mask-position:center center;-webkit-mask-size:20px;mask-repeat:no-repeat;mask-position:center center;mask-size:20px;content:'';}
.sub_head .head_box .etc_box .url_etc{}
.sub_head .head_box .etc_box .url_etc .url_link:before{background-image:url(../images/guide/util_ico_url.svg);}
.sub_head .head_box .etc_box .share_etc{}
.sub_head .head_box .etc_box .share_etc .share_link{}
.sub_head .head_box .etc_box .share_etc .share_link:before{background-color:#fff;-webkit-mask-image:url(../images/guide/ico_share_20.svg);mask-image:url(../images/guide/ico_share_20.svg);}
.sub_head .head_box .etc_box .share_etc .list_layer{display:none;position:absolute;z-index:1;top:100%;left:50%;transform:translateX(-50%);min-width:160px;margin-top:16px;padding:35px 19px 19px;background-color:#fff;border:1px solid #d8d8d8;border-radius:8px;box-shadow:0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.12);}
.sub_head .head_box .etc_box .share_etc.active .list_layer{display:block;}
.sub_head .head_box .etc_box .share_etc .list_layer:before{display:inline-block;position:absolute;bottom:100%;left:50%;transform:translateX(-50%);width:20px;height:12px;background-image:url(../images/guide/ico_drop_arr.svg);background-repeat:no-repeat;background-position:center center;background-size:contain;content:'';}
.sub_head .head_box .etc_box .share_etc .list_layer .share_close{display:block;position:absolute;top:11px;right:11px;width:20px;height:20px;border-radius:6px;background-image:url(../images/guide/ico_close_24.svg);background-repeat:no-repeat;background-position:center center;background-size:11px;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_close:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:4px;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list{display:block;position:relative;width:100%;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item{display:block;position:relative;width:100%;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item + .share_item{margin-top:10px;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;position:relative;width:100%;font-size:17px;color:#555;line-height:26px;letter-spacing:-0.03em;font-weight:400;font-family:'PretendardGOV';word-break:keep-all;border-radius:6px;background-color:transparent;transition:background-color 400ms ease-in-out;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link:hover,
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link:focus{text-decoration:none;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link:hover{background-color:#eef2f7;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:0;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item .share_in_link:before{display:inline-flex;position:relative;width:26px;height:26px;margin-right:12px;border-radius:100%;background-repeat:no-repeat;background-position:center center;vertical-align:top;content:'';}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item.facebook .share_in_link:before{background-color:#3461bc;background-image:url(../images/guide/util_share_ico_facebook.svg);background-size:7px 12px;background-position:left 10px center;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item.blog .share_in_link:before{background-color:#2db400;background-image:url(../images/guide/util_share_ico_blog.svg);background-size:9px 12px;background-position:left 9px center;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item.kakao .share_in_link:before{background-color:#fff200;background-image:url(../images/guide/util_share_ico_kakao.svg);background-size:16px 15px;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item.instagram .share_in_link:before{background-color:#d73083;background-image:url(../images/guide/util_share_ico_instagram.svg);background-size:12px 12px;}
.sub_head .head_box .etc_box .share_etc .list_layer .share_list .share_item.twitter .share_in_link:before{background-color:#000;background-image:url(../images/guide/util_share_ico_twitter.svg);background-size:10px 10px;}
.sub_head .head_box .etc_box .print_etc{}
.sub_head .head_box .etc_box .print_etc .print_link:before{background-color:#fff;-webkit-mask-image:url(../images/guide/ico_print_20.svg);mask-image:url(../images/guide/ico_print_20.svg);}

.uiux_tab{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.head_box + .uiux_tab{margin-top:55px;}
.uiux_tab:before,
.uiux_tab:after,
.uiux_tab *,
.uiux_tab *:before,
.uiux_tab *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.uiux_tab .uiux_tab_list{display:block;position:relative;width:100%;}
.uiux_tab .uiux_tab_list .uiux_tab_item{display:inline-block;position:relative;vertical-align:top;}
.uiux_tab[data-item-length="1"] .uiux_tab_list .uiux_tab_item{width:100%;}
.uiux_tab[data-item-length="2"] .uiux_tab_list .uiux_tab_item{width:calc(100% / 2);}
.uiux_tab[data-item-length="3"] .uiux_tab_list .uiux_tab_item{width:calc(100% / 3);}
.uiux_tab[data-item-length="4"] .uiux_tab_list .uiux_tab_item{width:calc(100% / 4);}
.uiux_tab[data-item-length="5"] .uiux_tab_list .uiux_tab_item{width:calc(100% / 5);}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn{display:inline-flex;align-items:center;justify-content:center;position:relative;width:100%;height:56px;border-bottom:2px solid #b1b8be;vertical-align:top;background-color:transparent;transition:background-color 400ms ease-in-out;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn:hover,
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn:focus{text-decoration:none;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn:hover,
.uiux_tab .uiux_tab_list .uiux_tab_item.active .uiux_tab_btn{background-color:#eef2f7;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn:before{display:block;position:absolute;bottom:-2px;left:50%;transform:translateX(-50%);width:0%;height:4px;background-color:transparent;transition:width 400ms ease-in-out, background-color 400ms ease-in-out;}
.uiux_tab .uiux_tab_list .uiux_tab_item.active .uiux_tab_btn:before{width:100%;background-color:#063a74;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-2px;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn span{display:inline-block;position:relative;width:100%;text-align:center;vertical-align:top;}
.uiux_tab .uiux_tab_list .uiux_tab_item .uiux_tab_btn span em{display:inline-block;position:relative;font-size:19px;color:#464c53;line-height:27px;letter-spacing:-0.03em;font-weight:600;font-family:'PretendardGOV';word-break:keep-all;vertical-align:top;transition:color 400ms ease-in-out;}
.uiux_tab .uiux_tab_list .uiux_tab_item.active .uiux_tab_btn span em{color:#052b57;}
.uiux_cts{display:block;width:100%;box-sizing:border-box;}
.uiux_cts .uiux_cts_list{display:block;width:100%;box-sizing:border-box;}
.uiux_cts .uiux_cts_list .uiux_cts_item{display:none;width:100%;box-sizing:border-box;}
.uiux_cts .uiux_cts_list .uiux_cts_item.active{display:block;}
@media all and (min-width:1280px){

}
@media all and (min-width:1000px){

}
@media all and (min-width:640px){

}
#contents{display:block;position:relative;width:100%;min-height:1000px;margin-top:75px;box-sizing:border-box;}
#contents > *:first-child{margin-top:0 !important;}
/* ---------- colgroup 종료 ---------- */
